* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Rubik Distressed', cursive;
} 

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #934caf;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: rgb(103, 62, 142)}
  
  .button:active {
    background-color: #5d3e8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }